<div class="about-main">
  <h2>日本語は、広がる</h2>
  <p>
    Tubuyakiは日本語学習者と、日本語ネイティブの外国語学習者向けSNSです。<br>
    マッチングサービスよりも自然で、一般的なSNSよりも身近です。
  </p>
  <p>
    
  </p>
  <img class="about-img" src="">
</div>